<h1>Editing Pasarela</h1>

<%= render 'form', pasarela: @pasarela %>

<%= link_to 'Regresar', pasarelas_path, class:"btn btn-lg btn-secondary" %>
<%= link_to 'Mostrar', @pasarela,  class:"btn btn-lg btn-info float-right" %> 
